# ===== Logs =====
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ===== Editor directories and files =====
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ===== BACKEND =====
weeb_api/env/
weeb_api/.env
#to delete when we go on cloudinary
weeb_api/media/
**/__pycache__/
*.pyc

# ===== PYTHON =====
*.sqlite3

# ===== FRONTEND =====
weeb_frontend/node_modules
weeb_frontend/dist
weeb_frontend/dist-ssr
weeb_frontend/.env*
*.local