# ===== Backend environment variables ===== #
# Django secret key
SECRET_KEY=

# Never let True in prod and fill ALLOWED_HOST
DEBUG=

# ===== email ===== #
DEFAULT_EMAIL=

EMAIL_HOST =
EMAIL_HOST_USER =
EMAIL_HOST_PASSWORD =
EMAIL_PORT =

# ===== jwt and cookies ===== #
JWT_SECRET_KEY=
JWT_ACCESS_TOKEN_LIFETIME=
JWT_REFRESH_TOKEN_LIFETIME=
JWT_COOKIE_SECURE=

# ===== cloudinary ===== #
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_PREFIX=

# ===== supabase ===== #
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=