@import "tailwindcss";

@theme {
  /* colors */
  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-midnight: #0f172a;
  --color-purple-bg: #9333ea;
  --color-purple-text: #c084fc;
  --color-grey: #94a3b8;
  --color-grey-light: #cbd5e1;

  /* fonts  */
  --font-sans: "Roboto", sans-serif;

  /* container */
  --container-max-sm: 360px;
  --container-max-md: 700px;
  --container-max-lg: 1000px;
  --container-max-xl: 1280px;
}

@layer base {
  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-sans);
    background-color: var(--color-midnight);
    color: var(--color-white);
    line-height: 1.6;
  }

  #root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  main {
    flex-grow: 1;
  }

  /* paragraphes & text */
  p {
    font-size: 12px;
    font-weight: 400;
    color: var(--color-white);
    @media (min-width: 768px) {
      font-size: 14px;
    }
    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }

  /* titles */
  h1 {
    font-size: 40px;
    font-weight: 800;
    color: var(--color-white);
    text-align: center;
    @media (min-width: 768px) {
      font-size: 60px;
    }
    @media (min-width: 1024px) {
      font-size: 72px;
    }
  }

  h2 {
    font-size: 26px;
    font-weight: 800;
    color: var(--color-white);
    @media (min-width: 768px) {
      font-size: 36px;
    }
    @media (min-width: 1024px) {
      font-size: 56px;
    }
  }

  h3 {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color-white);
    @media (min-width: 768px) {
      font-size: 16px;
    }
    @media (min-width: 1024px) {
      font-size: 20px;
    }
  }

  h4 {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-grey);
    @media (min-width: 768px) {
      font-size: 14px;
    }
    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }
}

@layer components {
  /* container */
  .container {
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;
    max-width: var(--container-max-sm);
    @media (min-width: 768px) {
      max-width: var(--container-max-md);
    }
    @media (min-width: 1024px) {
      max-width: var(--container-max-lg);
    }
    @media (min-width: 1280px) {
      max-width: var(--container-max-xl);
    }
  }

  /* responsive text */
  .text-responsive {
    font-size: 12px;
    @media (min-width: 768px) {
      font-size: 14px;
    }
    @media (min-width: 1024px) {
      font-size: 16px;
    }
  }

  /* Button */
  .basic-button {
    display: inline-block;
    padding: 4px;
    font-weight: 500;
    font-size: 12px;
    color: var(--color-white);
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    @media (min-width: 768px) {
      font-size: 14px;
    }

    @media (min-width: 1024px) {
      font-size: 16px;
      padding: 12px;
    }

    /* Hover or selected */
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--color-purple-bg) 60%,
        transparent
      );
    }

    &.active {
      background-color: var(--color-purple-bg);
    }
  }

  /* Link */
  .link {
    /* display: inline-block; */
    font-weight: 500;
    font-size: 12px;
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    @media (min-width: 768px) {
      font-size: 14px;
    }

    @media (min-width: 1024px) {
      font-size: 16px;
    }

    /* Hover or active */
    &:hover,
    &.active {
      text-decoration: underline;
      text-decoration-color: var(--color-white);
      text-underline-offset: 2px;
    }
  }
}
